<!-- Load Facebook SDK for JavaScript -->
<div id="fb-root"></div>
<script>
    window.fbAsyncInit = function() {
      FB.init({
        appId      : '164600957617166',
        xfbml      : true,
        version    : 'v2.5'
      });
  
      // Get Embedded Video Player API Instance
      var my_video_player;
      FB.Event.subscribe('xfbml.ready', function(msg) {
        if (msg.type === 'video') {
          my_video_player = msg.instance;
          my_video_player.unmute();
        }
      });
    };
  
    (function(d, s, id){
       var js, fjs = d.getElementsByTagName(s)[0];
       if (d.getElementById(id)) {return;}
       js = d.createElement(s); js.id = id;
       js.src = "//connect.facebook.net/en_US/sdk.js";
       fjs.parentNode.insertBefore(js, fjs);
     }(document, 'script', 'facebook-jssdk'));
  </script>

<style>
.fb-video {
	/* position: absolute;
	top: 0;
	left: 0; */
	width: 100%;
	height: 100%;
}

</style>
  
<!-- Your embedded video player code -->
<div  
  class="fb-video" 
  data-href="https://www.facebook.com/caffedellemamme/videos/{{include.id}}/" 
  data-allowfullscreen="true">
</div>
